    <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="./index.html">Peter H. Sudmant</i></a>          
              <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                  <li><a href="./index.html">home</a></li>
                  <li><a href="http://orcid.org/0000-0002-9573-8248">orcid</a></li>
                  <li><a href="https://publons.com/author/1269766/peter-sudmant#profile">publons</a></li>
                  <li><a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=0cWJGysAAAAJ&gmla=AJsN-F6amzEX7yOc4VkzE81H92txuuj-yZ-hupEYZljBvDR9_T-I6Hnjo-QIW1-djlHYIMjUgE8y1hFUMQjHiOpiQ0uYUjMYmj8rtguWkbFajO8fH1Mwg2A">google scholar</a></li>
                  <li><a href="mailto:psudmant@gmail.com"><i class="icon-envelope icon-white"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
    </div>
